*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
.image  {
  height: 500px;
  width: 500px;
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #5b5b04;
   border-radius: 5%;
  

.top{
  display: flex;
  padding: 10px;
  gap: 23px;
  


  .top-right{
    display: flex;
    margin-left: 50px;
    justify-content: end;
    gap: 5px;


    button{
      display: flex;
      padding: 10px 18px;   
      text-align: center;
      border-radius: 20px;
      
    }

  }
    button{
      display: flex;
      text-align: center;
     align-items: center;
      border-radius: 20px;
      border: none;
      
    }
    .save{
      background-color: red;
    }
    button i{
      font-size: 30px;
    }
}


  

}